<div class="user-kitten">
    <h1>Mes Chatons</h1>
    <ul>
        <li *ngFor="let kitten of userKittenList">
            <app-user-kitten [kitten]="kitten"></app-user-kitten>
        </li>
    </ul>
</div>

<div class="adopt-page">
    <app-create-kitten (addKittenToList)="onReceiveNewKitten($event)"></app-create-kitten>
    <div class="kitten-list">
        <h1>Chaton à adopter !</h1>
        <ul>
            <li class="kitten-card" *ngFor="let kitten of availableKittenList">
                <app-list-kitten [kitten]="kitten" (addKittenToUser)="onReceiveAdoptKitten($event)"></app-list-kitten>
            </li>
        </ul>
    </div>
    
</div>